{% extends "base.html" %}

{% block content %}
<div class="tabbable tabs-left">
  <ul class="nav nav-tabs span3">
    <li class="nav-header">Selection</li>
    <li class="active">
      <a href="#pdbchain-selection" data-toggle="tab">
	PDB+Chain
      </a>
    </li>
    <li>
      <a href="#epitope-selection" data-toggle="tab">
	Epitope
      </a>
    </li>
    <li class="nav-header">Configuration</li>
    <li>
      <a href="#cylinder-config" data-toggle="tab">
	Cylinder
      </a>
    </li>
    <li>
      <a href="#aaindex-config" data-toggle="tab">
	AAIndex
      </a>
    </li>

  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="pdbchain-selection">
      <ul class="nav nav-tabs">
	{% for i in range(1,3)%}
	<li class={% if i == 1%}"active" {% end %}>
	  <a href="#pdb{{i}}" data-toggle="tab">
	    {[{ pdb{{i}}_name }]}
	    <i class="icon icon-ok hidden"></i>
	  </a>
	</li>
	{% end %}
      </ul>
      <div class="tab-content">

	{% for i in range(1,3)%}
	  <div class="tab-pane {% if i == 1 %} active {%end%}" id="pdb{{i}}">
	  {% module Template("pdbchain-selection.html", tab_id=i) %}
	  </div>
	{% end %}

      </div>
    </div>
    <div class="tab-pane" id="epitope-selection">
      <p>Howdy, I'm in Section 2.</p>
    </div>
    <div class="tab-pane" id="cylinder-config">
      <p>Howdy, I'm in Section 2.</p>
    </div>
    <div class="tab-pane" id="aaindex-config">
      <p>Howdy, I'm in Section 2.</p>
    </div>

  </div>
</div>
{% end %}


