<div id="pdb-selection" class="tab-pane active">
  <div id="select-existing-pdb">
    <form class="form-horizontal select-pdb">
      <div class="control-group">
	<label class="control-label">
	  PDB id
	</label>
	<div class="controls">
	  <input type="text" placeholder="PDB Id">
	  <span class="help-inline hidden"></span>
	</div>
      </div>

      <div class="control-group">
	<label class="control-label">
	</label>
	<div class="controls">
	  <span class="label label-info">Alternative:</span> 
	  <span>
	    <a href="">upload</a> your local PDB file?
	  </span>
	</div>
      </div>

      <div class="control-group">
	<label class="control-label">
	  Chain
	</label>
	<div class="controls">
	  <input type="text" placeholder="Chain id separated by space">
	  <span class="help-inline hidden"></span>
	</div>
      </div>
    </form>

    <p> I would rather use my local PDB file </p>
  </div>
  <div class="" id="upload-local-pdb">
    <h2><strong>Or</strong></h2>
    <h1>
      <small>Upload a local file in PDB format</small>
    </h1>
    <form class="well">
      <input class="input-file" type="file">
    </form>
  </div>
  <button class="btn btn-primary">Next</button>
  <button class="btn">Cancel</button>
</div>
