{% extends "base.html" %}

{% block content %}
<div class="tabbable tabs-left">
  <ul class="nav nav-tabs span3">
    <li class="nav-header">Selection</li>
    <li class="active">
      <a href="#pdbchain-selection" data-toggle="tab">
	PDB+Chain
      </a>
    </li>
    <li>
      <a href="#epitope-selection" data-toggle="tab">
	Epitope
      </a>
    </li>
    <li class="nav-header">Configuration</li>
    <li>
      <a href="#cylinder-config" data-toggle="tab">
	Cylinder
      </a>
    </li>
    <li>
      <a href="#aaindex-config" data-toggle="tab">
	AAIndex
      </a>
    </li>

  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="pdbchain-selection">
      <ul class="nav nav-tabs">
	<li class="active"><a href="#pdb1" data-toggle="tab">PDB 1</a></li>
	<li><a href="#pdb2" data-toggle="tab">PDB 2</a></li>
      </ul>
      <div class="tab-content">
	<div class="tab-pane active" id="pdb1">
	  {% include "pdbchain-selection.html" %}
	</div>
	<div class="tab-pane" id="pdb2">
	  {% include "pdbchain-selection.html" %}
	</div>
      </div>
    </div>
    <div class="tab-pane" id="epitope-selection">
      <p>Howdy, I'm in Section 2.</p>
    </div>
    <div class="tab-pane" id="cylinder-config">
      <p>Howdy, I'm in Section 2.</p>
    </div>
    <div class="tab-pane" id="aaindex-config">
      <p>Howdy, I'm in Section 2.</p>
    </div>

  </div>
</div>
{% end %}


